@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

body
{
    padding: 0;
    margin: 0;
    background:#0f131a;
    color: #e1edff;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1.Title
{
    padding-left: 6vw;
    align-self: center;
    text-align: center;

    font-weight: bold;
    color: #63d297 !important;
}

h2{
    font-weight: bold;
    color: #63d297;
}
h3{
    font-weight: bold;
    color: #63d297;
}


#right-corner{
    background: #63d297;

    position: sticky;
    padding-left: 4px;

    width: 6vw;

    top: 1.5rem;
    right: 0rem;
    float: right;

    overflow: none;

    border-radius: 1px 0 0 1px;
    
    color: #0F131A;
    text-align: left;
    font-family: 'Proxima Nova', sans-serif;
    font-style: italic;

}

/* shit don work, man. i just want a sticky searchbar, but it aint working */
.input-grp {
    /* top: 2rem;
    position: sticky;
    float: center; */

    padding-bottom: 2rem;
}
input
{   
    display: inline-block;
    height: 2.5rem;

    border: none;
    border-radius: 10px;

    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    
    transition: 70ms ease-in;
}
.in-bar {
    background-color: #e1edff;
    width: 50vw;
    
    padding-left: 1rem;
    padding-right: 0;
    margin-right: 0;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    text-align: left;
}
.in-bar:focus
{
    outline: none;
    background-color: #c4d0df;  
}
.btn
{
    color: #0f131a;
    background-color: #63d297;
    
    width:  20vw;
    margin-left: 0;
    padding-left: 0;
    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    font-weight: bold;
    height: 2.6rem;
}
.btn:hover
{
    background-color: #34b470;
    transition: 70ms ease-in;
}
.btn:focus {
    background-color: #34b470;
    transition: 70ms ease-in;
}

.phishy {
}
.phishy h2 {
    color: #ff4249;
}
.phishy h3 {
    color: #ff4249;
}
.not-phishy {
}
.not-phishy h2 {
    color: #63d297;
}
.not-phishy h3 {
    color: #63d297;
}

.url {
    font-size: 2em;
}
.points > * {
    font-size: 1.2em;
}
.phish-indicate > * {
    font-size: 1.2em;
}

.di-split {
    width: 40%;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
}
.di-split span {
    font-size: 1.5em;
    color: #e1edff;
    font-style: italic;
}
.phishy .di-split span {
    color: #ff4248;
}
.not-phishy .di-split span {
    color: #63d297;
}
.di-split > * {
    width: 20%;
    flex: auto;

    border-bottom: #bbbbbb50 solid 3px;
}

.report-box {
    margin: 2rem 15vw;

    border-radius: 10px;
    border-style: solid;
    border-color: #ffffff3c;
    box-shadow: 0 0 2px #9999997c;
}
/* .report-box.phishy { 
    border-color: #d26367;
    box-shadow: 0 0 2px #85262a;
}
.report-box.not-phishy { 
    border-color: #63d297;
    box-shadow: 0 0 2px #2b945c;
} */
#report{
    font-family: 'Proxima Nova', sans-serif;
    font-style: italic;
    font-size: 1.5em;
    padding-left: 4px;

    border-color: #63d297;

    align-items: center;
    align-content: center;
}
#report h2 {
    margin: 1rem auto;

    width: 85%;
    margin-bottom: 1rem;

    text-align: left;
}
#report h2 {
    text-align: center;
}
.phishy #report h2 {
    text-align: left;
}
.not-phishy #report h2 {
    text-align: left;
}

#report table{
    border-spacing: 0;

    width: 80%;

    margin: auto;
    margin-top: 1rem;
    padding-bottom: 2rem;

    text-align: left;
}
#report tr{
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}
#report tr:nth-child(even){
    background: #e1edff0b;
}   

#report th{
    border-bottom: solid #bbbbbb50;
    
    margin-left: 0;
    margin-right: 0;
    
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: .5rem;
}
.phishy #report th {
    color: #ff4249;
    border-bottom: solid #ff3d4396 3px;
}
.not-phishy #report th {
    color: #63d297;
    border-bottom: solid #63d29796 3px;
}

#report td {
    margin-right: 0;
    margin-left: 0;
    padding-right: 1em;
    padding-left: 1em;

    color: #777;
}
#report td.attr {
    color: #e1edff;
}

p{
    color: #ffffff;
    font-family: 'Proxima Nova', sans-serif;
}
