@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

body
{
    padding: 0;
    margin: 0;
    background:#0f131a;
    color: #ffffff;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1.Title
{
    padding-left: 6vw;
    align-self: center;
    text-align: center;

    font-weight: bold;
    color: #63d297;
}

h2{
    font-weight: bold;
    color: #63d297;
}
h3{
    font-weight: bold;
    color: #63d297;
}


#right-corner{
    background: #63d297;

    position: sticky;
    width: 6vw;
    top: 1.5rem;
    right: 0rem;
    float: right;
    overflow: none;
    
    color: #0F131A;
    text-align: left;
    font-family: 'Proxima Nova', sans-serif;
    font-style: italic;

    padding-left: 4px;
}

/* shit don work, man. i just want a sticky searchbar, but it aint working */
.input-grp {
    /* top: 2rem;
    position: sticky;
    float: center; */

    padding-bottom: 2rem;
}
input
{   
    display: inline-block;
    height: 2.5rem;

    border: none;
    border-radius: 10px;

    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    
    transition: 70ms ease-in;
}
.in-bar {
    background-color: #e1edff;
    width: 50vw;
    
    padding-left: 1rem;
    padding-right: 0;
    margin-right: 0;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    text-align: left;
}
.in-bar:focus
{
    outline: none;
    background-color: #c4d0df;  
}
.btn
{
    color: #0f131a;
    background-color: #63d297;
    
    width:  20vw;
    margin-left: 0;
    padding-left: 0;
    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    font-weight: bold;
    height: 2.6rem;
}
.btn:hover
{
    background-color: #34b470;
    transition: 70ms ease-in;
}
.btn:focus {
    background-color: #34b470;
    transition: 70ms ease-in;
}

.phishy {
    color: red;
}
.not-phishy {
    color: green;
}
.report-box {
    margin: 2rem 15vw;

    border-radius: 2px;
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0 0 2px #999999;
}
.report-box.phishy { 
    border-color: #d26367;
    box-shadow: 0 0 2px #85262a;
}
.report-box.not-phishy { 
    border-color: #63d297;
    box-shadow: 0 0 2px #2b945c;
}

#report{
    font-family: 'Proxima Nova', sans-serif;
    font-style: italic;
    font-size: 1.5em;
    padding-left: 4px;

    border-color: #63d297;

    align-items: center;
    align-content: center;
}
#report table{
    border-spacing: 0   ;

    margin-left:2vw;
    margin-right: 2vw;
    margin: auto;
    max-width: 80%;

    padding-top: 2rem;
    padding-bottom: 2rem;

    text-align: left;
}
#report tr{
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}
#report tr:first-child{
    padding-top: .5rem;
}
#report th{
    border-bottom: solid #bbbbbb50;

    margin-bottom: 5rem;
    margin-left: 0;
    margin-right: 0;
    
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: .5rem;
}
#report td {
    margin-right: 0;
    margin-left: 0;
    padding-right: 1em;
    padding-left: 1em;
}

p{
    color: #ffffff;
    font-family: 'Proxima Nova', sans-serif;
}


