<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">  
    <title>URL phishyness checker</title>   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">    
</head>

<body>
    
    <div id="right-corner"> 
            Made by 
        </br>
        <span style="font-style: normal;"> BDE </span>      
    </div>

    <h1 class="Title">URL phishyness checker</h1>

    <form action="check" method="post">        
        <!-- get URL -->
        <div class="input-grp">
            <input class="in-bar" type="text" name="URL_input" placeholder="Input URL" autofocus><input class="btn" type="submit" value="Check" id="check-btn">
        </div>
        
        {% if output %}
        <!-- URL - Points - Phishyness (colorized block) -->
        {% if output.points >= 100 %}
        <section class="report-box phishy">
        {% else %}
        <section class="report-box not-phishy">
        {% endif %}
            <p>{{ output.points }}</p>

            <div id="report">
                <h2>Report:</h2>
                <!-- format dict if returned -->
                {% if output is mapping %}
                <!-- output phishiniess and points -->
                <!-- output attributes -->
                    <table>
                        <tr>
                            <th>Report</th>
                            <th>Category</th>
                        </tr>
                        {% for entry in output.attr %}
                            {% for index in output.attr[entry] %}
                                <tr>
                                    <td>{{ index }}</td>
                                    <td>{{ entry }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table> 

                    <!-- if output is a string -->
                {% elif output is string %}
                <p> {{ output }} </p>
                {% endif %}
            {% endif %}
            </div>
        </section>
        </form>
</body>
</html>