<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">  
    <title>URL phishyness checker</title>   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">    
    <div id="right-corner"> 
        Made by 
        <br>
        <span style="font-style: normal;"> BDE </span>      
    
    </div>
</head>

<body>
    <h1 class="Title"> URL phishyness checker </h1>
        <form action="check" method="post">        
            <h2>Enter The URL:</h2>
            <br>
            <input type="text" name="URL_input">
            <br>
            <input type="submit" value="Check" id="btn">
            
            <table>
            {% outDict = get_flashed_messages() %}
            {% for key in outDict %}
                <tr>
                    <th>{{ key }}</th>
                </tr>
                <tr>
                    <td>{{ outDict[key] }}</td>
                </tr>
            {% endfor %}
            </table> 
        </form>
</body>
</html>


