<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">  
    <title>URL phishyness checker</title>   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">    
    <div id="right-corner"> 
        Made by 
        <br>
        <span style="font-style: normal;"> BDE </span>      
    </div>
</head>

<body>
    <h1 class="Title"> URL phishyness checker </h1>
    <form action="check" method="post">        
        <h2>Enter The URL:</h2>
        <br>
        <input type="text" name="URL_input">
        <br>
        <input type="submit" value="Check" id="btn">
        <div class="report">
            {% if output is mapping %}
                <h2>Report:</h2>
                {% for key in output %}
                <h3> {{ key }} </h3> <p> {{ output[key] }} </p>
                {% endfor %}
            {% else %}
                <p> {{output}} </p>
            {% endif %}
        </div>
    </form>
</body>
</html>


